* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

/* Container parte destra */
.container-right {
    width: calc(100% - 200px);
}

/* Menu nav */
#side-menu {
    /* DEBUG */
    background-color: blueviolet;
    width: 200px;
    height: calc(100vh - 80px);
}

.logo img {
    width: 130px;
}

.logo-small {
    display: none;
}

.menu-links {
    list-style-type: none;
}

.menu-links li img {
    width: 25px;
    vertical-align: middle;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* DEBUG */
    background-color: red;
    height: 70px;
}

/* Main */
main {
    /* DEBUG */
    background-color: brown;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.main-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list-cards {
    display: flex;
}

.card {
    width: calc(100% / 6);
    /* DEBUG */
    background-color: green;
    height: 100px;
    border: 2px solid black;
}

.list-cards:not(.first) {
    justify-content: flex-start;
}

.list-cards:not(.first) .card {
    width: 100px
}

.list-cards.third .card {
    border-radius: 50%;
}

/* Footer */
footer {
    /* DEBUG */
    background-color: blue;
    height: 80px;
    width: 100%;
}


/* Tablet version */
@media all and (max-width: 768px) {

    .list-cards {
        flex-wrap: wrap;
    }
    
    .list-cards .card {
        width: calc(100% / 4);
    }
}

/* Mobile version */
@media all and (min-width: 360px) and (max-width: 480px) {

    #side-menu {
        width: 40px;
    }

    .logo-small {
        display: block;
    }

    .logo {
        display: none;
    }

    .menu-links li span, #side-menu h3 {
        display: none;
    }

    .container-right {
        width: calc(100% - 40px);
    }

    .list-cards .card {
        width: calc(100% / 2);
    }
}